@charset "utf-8";

/*
Sorry for the gross o-typography copy/paste, I didn't have time
to get sass compilation all set up
*/

/* Some resets */
html,
body {
	margin: 0;
	padding: 0;
}

/* Page styling */
.page {
	padding-top: 30px;
	padding-bottom: 30px;

	font-family: MetricWeb, sans-serif;
	font-size: 18px;
	line-height: 20px;
}

/* Typography */

h1,
h2,
h3 {
	font-family: FinancierDisplayWeb, serif;
	font-weight: 700;
}

h1 {
	font-size: 32px;
	line-height: 32px;
}

h1 {
	font-size: 28px;
	line-height: 32px;
}

.o-forms__number {
	width: 50px;
}
