@charset "utf-8";

/*
Sorry for the gross o-typography copy/paste, I didn't have time
to get sass compilation all set up
*/

/* Some resets */
html,
body {
	margin: 0;
	padding: 0;
}

/* Page styling */
.page {
	padding-top: 30px;
	padding-bottom: 30px;

	font-family: MetricWeb, sans-serif;
	font-size: 18px;
	line-height: 20px;
}

/* Typography */

h1,
h2,
h3 {
	font-weight: 600;
	color: #333;
	font-family: MetricWeb, sans-serif;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 32px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 32px;
	font-weight: 400
}
h2:first-child {
	margin-top: 0;
}

.o-forms__number {
	width: 50px;
}

img {
	max-width: 100%;
}

.page ul:not([data-o-component^=o-]) {
	list-style-type: none;
	position: relative;
	padding-left: 1.5rem
}
.page ul:not([data-o-component^=o-]) li {
	margin-bottom: .5em
}
.page ul:not([data-o-component^=o-]) li:before {
	content: '—';
	position: absolute;
	left: 0;
	color: #0d7680;
	font-weight: 900
}
.page ol:not([data-o-component^=o-]) {
	position: relative;
	padding-left: 1.5rem
}

.avatar {
	float: left;
	display: block;
	margin-right: 8px;
	margin-bottom: 8px;
}
.avatar--40 {
	width: 40px;
}
.avatar--80 {
	width: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}
